/* CSS Document */
.container .row
{
	margin-left: 10%;
}

.userIcon
{
	margin-top: -5px;
	width: 36px;
	height: 35px;
}

.input-group
{
	padding: 3px;
	border:1px solid #DCDCDC;
	width: 100%;
}

#tabPanel
{
	margin-left: 50px;
	margin-right: 50px;
}

.tab-content
{
	width: 100%;
	margin-top:10px;
	padding-right: 3%;
}

#create_team_button
{
}